:root {
  --vermelho:#E50914;
  --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* ELEMENTOS BASE */

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #E50914;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.logo img {
    height: 45px;
    width: 167px;
}


header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

header nav .login{
    background-color: #E50914;
    border: none;
    color:white;
    padding: 10px 5px;
    margin-right: 10px;
    cursor: pointer;
}

header nav .login:hover{
    color: #AAA;
}



/* FILME PRINCIPAL */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(/img/img01.jpg);

    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: rgba(0,0,0,0.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 0.4s ease all;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn i {
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.botoes {
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}



.temas{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.9px;
}

span{
    color:var(--vermelho);
}